<nav class="fixed top-0 w-full z-50 flex justify-between items-center px-10 py-6 bg-transparent">
  <div class="text-white font-serif text-3xl font-bold">CARPACCIO</div>

  <ul class="flex gap-8 text-white/90 uppercase text-xs tracking-widest">
    <li>
      <a routerLink="/home" class="hover:text-amber-500 transition cursor-pointer">Home</a>
    </li>
    <li>
      <a routerLink="/about" class="hover:text-amber-500 transition cursor-pointer">About</a>
    </li>
    <li>
      <a routerLink="/menu" class="hover:text-amber-500 transition cursor-pointer">Menu</a>
    </li>
    <li>
      <a routerLink="/contact" class="hover:text-amber-500 transition cursor-pointer">Contact</a>
    </li>
  </ul>
</nav>
