@import 'tailwindcss';

body,
h1,
h4,
p,
h2,
h3,
h5,
h6,
.font-serif,
.font-serif.italic {
  font-family: 'Alexandria', sans-serif !important;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #c6a266;
  border-radius: 10px;
}

@layer components {
  .nav-link {
    @apply transition-all duration-300 cursor-pointer hover:text-[#c6a266] relative;
    display: inline-block;
  }

  .active-link {
    color: #c6a266 !important;
    position: relative;
    display: inline-block;
  }

  .active-link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c6a266;
    border-radius: 999px;
  }

  .mobile-link {
    @apply text-2xl text-white uppercase tracking-[0.3em] font-light transition-colors duration-300;
  }

  .active-mobile {
    color: #c6a266 !important;
    @apply font-medium scale-110;
  }
}
