@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@layer base {
  *,
  ::before,
  ::after {
    font-family: 'Cairo', sans-serif !important;
  }

  html {
    scroll-behavior: smooth;
    background-color: #000;
  }
}

/* باقي كود السكرول بار والـ components زي ما هو */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #c6a266;
  border-radius: 10px;
}

@layer components {
  .nav-link {
    @apply transition-all duration-300 cursor-pointer hover:text-[#c6a266] relative;
  }
  .active-link {
    color: #c6a266 !important;
  }
  .active-link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c6a266;
    border-radius: 999px;
  }
  .mobile-link {
    @apply text-2xl text-white uppercase tracking-[0.3em] font-light transition-colors duration-300;
  }
  .active-mobile {
    color: #c6a266 !important;
    @apply font-medium scale-110;
  }
}
