@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;700&family=Cinzel:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* العناوين الكبيرة (Our Menu / Benvenuti) */
h2,
h3,
.font-serif {
  font-family: 'Playfair Display', serif !important;
}

/* أسماء الأقسام باللاتيني (It) */
.font-serif.italic {
  font-family: 'Cinzel', serif !important;
  letter-spacing: 2px;
}

/* الكلام العربي (أسماء الأطباق والوصف) */
body,
h1,
h4,
p {
  font-family: 'Alexandria', sans-serif !important;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #c6a266;
  border-radius: 10px;
}

@layer components {
  .nav-link {
    @apply transition-all duration-300 cursor-pointer hover:text-[#c6a266] relative;
    display: inline-block; /* ضفنا دي هنا عشان الهوفر والخط يظبطوا */
  }

  .active-link {
    color: #c6a266 !important;
    position: relative; /* مهم جداً */
    display: inline-block;
  }

  .active-link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c6a266;
    border-radius: 999px;
  }

  .mobile-link {
    @apply text-2xl text-white uppercase tracking-[0.3em] font-light transition-colors duration-300;
  }

  .active-mobile {
    color: #c6a266 !important;
    @apply font-medium scale-110;
  }
}
